Source: ros-jade-robot-upstart
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-roslint, ros-jade-rosunit
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-robot-upstart
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, daemontools, ros-jade-roslaunch, ros-jade-xacro
Description: The robot_upstart package provides scripts which may be used to install and uninstall Ubuntu Linux upstart jobs which launch groups of roslaunch files.
